img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

body .section-title #portfolio-nav a:hover i {
    opacity: 0.75;
}

.no-rgba #header-space {
    display: none;
}

@media only screen and (min-width: 1000px) {
    #header-space {
        display: none;
    }

    .nectar-slider-wrap.first-section, .parallax_slider_outer.first-section, .full-width-content.first-section, .parallax_slider_outer.first-section .swiper-slide .content, .nectar-slider-wrap.first-section .swiper-slide .content, #page-header-bg, .nder-page-header, #page-header-wrap, .full-width-section.first-section {
        margin-top: 0 !important;
    }

    body #page-header-bg, body #page-header-wrap {
        height: 96px;
    }

    .first-section .nectar-slider-loading .loading-icon {
        opacity: 0
    }

    .swiper-container .slider-prev, .swiper-container .slider-next {
        top: 52% !important;
    }

    body #search-outer {
        z-index: 100000;
    }

    #header-outer.transparent header#top #logo, #header-outer.transparent header#top #logo:hover {
        color: #ffffff !important;
    }

    #header-outer.transparent header#top nav > ul > li > a, #header-outer.transparent header#top nav ul #search-btn a span.icon-salient-search, #header-outer.transparent nav > ul > li > a > .sf-sub-indicator [class^="icon-"], #header-outer.transparent nav > ul > li > a > .sf-sub-indicator [class*=" icon-"], #header-outer.transparent .cart-menu .cart-icon-wrap .icon-salient-cart, .ascend #boxed #header-outer.transparent .cart-menu .cart-icon-wrap .icon-salient-cart {
        color: #ffffff !important;
        opacity: 0.75 !important;
        transition: opacity 0.2s linear, color 0.2s linear;
    }

    #header-outer.transparent header#top nav > ul > li > a:hover, #header-outer.transparent header#top nav .sf-menu > li.sfHover > a, #header-outer.transparent header#top nav .sf-menu > li.current_page_ancestor > a, #header-outer.transparent header#top nav .sf-menu > li.current-menu-item > a, #header-outer.transparent header#top nav .sf-menu > li.current-menu-ancestor > a, #header-outer.transparent header#top nav .sf-menu > li.current_page_item > a, #header-outer.transparent header#top nav > ul > li > a:hover > .sf-sub-indicator > i, #header-outer.transparent header#top nav > ul > li.sfHover > a > span > i, #header-outer.transparent header#top nav ul #search-btn a:hover span, #header-outer.transparent header#top nav ul .slide-out-widget-area-toggle a:hover span, #header-outer.transparent header#top nav .sf-menu > li.current-menu-item > a i, #header-outer.transparent header#top nav .sf-menu > li.current-menu-ancestor > a i, #header-outer.transparent .cart-outer:hover .icon-salient-cart, .ascend #boxed #header-outer.transparent .cart-outer:hover .cart-menu .cart-icon-wrap .icon-salient-cart {
        opacity: 1 !Important;
        color: #ffffff !important;
    }

    #header-outer.transparent header#top nav ul .slide-out-widget-area-toggle a i.lines, #header-outer.transparent header#top nav ul .slide-out-widget-area-toggle a i.lines:before, #header-outer.transparent header#top nav ul .slide-out-widget-area-toggle a i.lines:after {
        background-color: #ffffff !important;
    }

    #header-outer.transparent header#top nav ul .slide-out-widget-area-toggle a i.lines {
        opacity: 0.75 !important;
    }

    #header-outer.transparent.side-widget-open header#top nav ul .slide-out-widget-area-toggle a i.lines, #header-outer.transparent header#top nav ul .slide-out-widget-area-toggle a:hover i.lines, #header-outer.transparent header#top nav ul .slide-out-widget-area-toggle a:hover i.lines:before, #header-outer.transparent header#top nav ul .slide-out-widget-area-toggle a:hover i.lines:after {
        opacity: 1 !important;
    }
}

.pagination-navigation {
    -webkit-filter: url("#goo");
    filter: url("#goo");
}

.recentcomments a {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
}